@tailwind base;
@tailwind components;
@tailwind utilities;


header{
    position: sticky;
    top: 0px;
    z-index: 99;
}

nav{
    background-image: linear-gradient(30deg,rgba(255,255,255,0.9),rgba(255,255,255,0.7),rgba(255,255,255,0.6));
    backdrop-filter: blur(46px);;
}

.hamburger {
    cursor: pointer;
    width: 1cm;
    height: 1cm;
    position: relative;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 1cm;
    height: 2px;
    top: 0px;
    left: 0px;
    background-color: #000;
    transition: .3s;
}

.hamburger-middle{
   transform: translateY(0.33cm);
}

.hamburger-bottom{
    transform: translateY(0.66cm);
 }

.open .hamburger-middle{
    display: none;
}

.open .hamburger-top {
    transform: translateY(0.5cm) rotateZ(45deg);
}
.open .hamburger-bottom{
    transform: translateY(0.5cm) rotateZ(-45deg);
}

a{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section1{
    position: relative;
    top: -2cm;
    background-color: ;
}

.jobTitle{
    height: 1.5cm;
    width: 7cm;
    transform: translateY(-1cm);
}

.wordcontainer{
    height: 1.5cm;
    width: 5cm;
}

.words{
    width: 100%;
    height: 4.5cm;
    transform: translateY(0cm);
    animation: moveup 10.5s infinite steps(3);
}
@keyframes moveup {
    100%{transform: translateY(-4.5cm);}
}

.text{
    height: 1.5cm;
    width: 100%;
    padding-left: 10px;
}

.write{
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    transform: translateX(0%);
    animation: moveleft 3.5s infinite steps(10);
}
.write::after{
    content: "";
    height: 100%;
    width: 100%;
    border: 5px solid hsl(228,39%,23%);
    border-top: none;
    border-right: none;
    border-bottom: none;
    opacity: 0;
    animation: blink .3s infinite;
}

@keyframes moveleft {
    70%{transform: translateX(110%);}
}
@keyframes blink{
    100%{opacity: 1;}
}

#section1 p{
    margin-top: 0cm;
}

#section1 button{
    width: 4cm;
}